@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/dutyplan.css" />
<div class="d-flex justify-content-center align-items-center mt-4">
    <button class="btn btn-outline-secondary px-3 me-2" id="prevButton">&lt;</button>
    <div class="d-flex flex-column align-items-center">
        <h5 id="currentDate" class="mb-0">2025年01月</h5>
        <button class="btn btn-outline-primary btn-sm mt-1" id="todayButton">今日</button>
    </div>
    <button class="btn btn-outline-secondary px-3 ms-2" id="nextButton">&gt;</button>
</div>

 

<table border="1" style="border-collapse: collapse; text-align: center; width: 100%;" id="tblMember">
    <thead>
        <tr>
            <th>UserProfile</th> 
            <th>Name_Role</th>
            <th>MultiDate</th>
            <th>Day_1</th>
            <th>Day_2</th>
            <th>Day_3</th>
            <th>Day_4</th>
            <th>Day_5</th>
            <th>Day_6</th>
            <th>Day_7</th>
            <th>Day_8</th>
            <th>Day_9</th>
            <th>Day_10</th>
            <th>Day_11</th>
            <th>Day_12</th>
            <th>Day_13</th>
            <th>Day_14</th>
            <th>Day_15</th>
            <th>Day_16</th>
            <th>Day_17</th>
            <th>Day_18</th>
            <th>Day_19</th>
            <th>Day_20</th>
            <th>Day_21</th>
            <th>Day_22</th>
            <th>Day_23</th>
            <th>Day_24</th>
            <th>Day_25</th>
            <th>Day_26</th>
            <th>Day_27</th>
            <th>Day_28</th>
            <th>Day_29</th>
            <th>Day_30</th>
            <th>Day_31</th>
        </tr>
    </thead>
    
</table>

<script src="/js/dutyplan.js"></script>